.ProductsCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 1110px;
    padding: 150px 0;
}
.menu-card {
    position: relative;
    width: 350px;
    height: 170px;
    background: var(--color-grey);
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.menu_card_Image {
    position: absolute;
    text-align: center;
    top: -80px;
}
.menu_card_container .menu-card-img {
    width: 110px;
}
.menu_card_text-Title {
    position: absolute;
    bottom: 10px;
}
.menu_card_text-Title h3 {
    font-weight: 500;
    margin-top: 10px;
    font-size: 17px;
}
.menu_card_text-Title p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
    color: #00000080;
    font-size: 15px;
}
.menu_card_text-Title p:hover {
    color: var(--color-brown);
}
