.ProductsCard-Container {
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProductsCard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 70%;
    overflow-x: scroll;
}
.menu-card {
    position: relative;
    width: auto;
    height: 170px;
    background: var(--color-grey);
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: -80px;
}

.menu_card_Image {
    position: absolute;
    text-align: center;
    top: -50px;
}
.menu_card_container .menu-card-img {
    width: 200px;
}
.menu_card_text-Title {
    position: absolute;
    bottom: 10px;
}
.menu_card_text-Title h3 {
    font-weight: 500;
    margin-top: 10px;
    font-size: 17px;
    color: #000;
}
.menu_card_text-Title p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
    color: #00000080;
    font-size: 15px;
}
.menu_card_text-Title p:hover {
    color: var(--color-brown);
}

@media (max-width: 768px) {
    .ProductsCard {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 150px;
        width: 90%;
        padding: 130px 0;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .ProductsCard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        width: 90%;
        padding: 150px 0;
    }
}
@media (min-width: 992px) and (max-width: 1060px) {
    .ProductsCard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        width: 90%;
        padding: 150px 0;
    }
}
@media (min-width: 1060px) and (max-width: 1200px) {
    .ProductsCard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        width: 90%;
        padding: 150px 0;
    }
}

@media (min-width: 1200px) {
    .ProductsCard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        width: 1110px;
        padding: 150px 0;
    }
}
