.main-container-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--color-grey);
    margin-bottom: -200px;
}
.main-container {
    max-width: 1200px;
    width: 100%;
    margin-top: 250px;
    display: flex;
    gap: 30px;
    margin-bottom: 150px;
}
.checkout-wrapper {
    padding: 30px 28px;
    border-radius: 0.5rem;
    background: #fff;
    width: 900px;
    height: auto 1100px;
}
.billing__details {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Checkout__text {
    font-size: 40px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
}
.billing__details h4,
.shipping__info h4,
.form-details-title {
    font-size: 15px;
    color: var(--color-brown);
}
.checkout-wrapper form label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.checkout-wrapper form label span {
    color: #000;
    font-weight: 500;
    margin-left: 5px;
}
.checkout-wrapper form input,
.form-input-element {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    font-family: "Manrope", sans-serif;
    border: 1px solid #cfcfcf;
    font-size: 15px;
    font-weight: 500;
    padding: 0 24px;
}

.checkout-wrapper form input:focus {
    outline: 1px solid var(--color-brown);
}

.billing__details__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.shipping__info {
    margin-top: 30px;
}

.shipping__info__form {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.payment__details {
    margin-top: 50px;
}
.payment__details .form__radio_input label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 5px 15px;
    border: 1px solid #cfcfcf;
    width: 300px;
    border-radius: 8px;
    margin-top: 10px;
}
.payment__details .form__radio_input .radio-input-container:hover {
    border: 1px solid var(--color-brown);
    cursor: pointer;
}
.payment__details .form__radio_input .radio-input-container input {
    width: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}
.form-details-inputs {
    display: flex;
}
.form-input-label {
    width: 70%;
    margin-top: 20px;
}

.cash-delivary {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 98%;
}
.cash-delivary img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}
.cash-delivary p {
    width: 90%;
    color: #10101080;
    font-size: 16px;
    padding-left: 10px;
}
.e-money {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.checkout-product {
    width: 400px;
    height: 500px;
    padding: 10px 10px;
    background: #fff;
    border-radius: 8px;
}
.checkout-product-title {
    font-weight: 500;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
}
.checkout-product-prices {
    color: #10101080;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 60px;
}

.checkout-product-prices-item {
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.checkout-product-prices-item-span {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    font-family: "Manrope";
    margin-top: 8px;
}

.checkout-product-container {
    color: #10101080;
    font-size: 17px;
    height: 150px;
    margin-left: 10px;
}
.card-order-title {
    padding-top: 20px;
}
.checkout-button {
    width: 90%;
    margin-left: 12px;

    margin-top: 20px;
    border-radius: 0;
    color: #fff;
    background: var(--color-brown);
}

.checkout-product ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: -20px;
    height: 200px;
    overflow-x: scroll;
}

.checkout-product ul .cardlist {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.checkout-product ul .cardlist .product-list-info {
    display: flex;
    padding: 0px 5px;
}
.list-text-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 14px;
    font-weight: 500;
    gap: 5px;
}
.list-text-block h4 {
    color: #000;
    text-align: start;
    margin-left: 3px;
    font-weight: 600;
    font-size: 14px;
}
.card-list-img-box {
    width: 60px;
    height: 55px;
    background: var(--color-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.product-list-info .cardlist__img {
    height: 55px;
    width: 55px;
}
.product-price {
    font-size: 14px;
}
.No-product {
    font-size: 18px;
    color: #000;
    margin: auto;
}

@media (max-width: 620px) {
    .main-container-wrapper {
        margin-bottom: -50px;
    }
    .main-container {
        width: 97%;
        flex-direction: column;
        margin-top: 150px;
    }
    .checkout-product {
        width: 97%;
        height: 500px;
        padding: 10px 10px;
        background: #fff;
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
    }
    .checkout-wrapper {
        padding: 30px 14px;
        border-radius: 0.5rem;
        background: #fff;
        width: 97%;
        height: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
    .billing__details__form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .shipping__info__form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .Checkout__text {
        font-size: 30px;
    }
    .form-details-inputs {
        flex-direction: column;
    }
    .radio-input-container {
        width: 100%;
    }
}

@media (min-width: 620px) and (max-width: 768px) {
    .main-container-wrapper {
        margin-bottom: -50px;
    }
    .main-container {
        width: 97%;
        flex-direction: column;
        margin-top: 150px;
    }

    .checkout-product {
        width: 97%;
        height: 500px;
        padding: 10px 10px;
        background: #fff;
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
    }
    .checkout-wrapper {
        padding: 30px 28px;
        border-radius: 0.5rem;
        background: #fff;
        width: 97%;
        height: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
    .checkout-button {
        width: 95%;
        margin-left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .main-container-wrapper {
        margin-bottom: -50px;
    }
    .main-container {
        width: 97%;
        flex-direction: column;
        margin-top: 150px;
    }
    .checkout-product {
        width: 97%;
        height: 500px;
        padding: 10px 10px;
        background: #fff;
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
    }
    .checkout-wrapper {
        padding: 30px 28px;
        border-radius: 0.5rem;
        background: #fff;
        width: 97%;
        height: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
    .checkout-button {
        width: 95%;
        margin-left: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1060px) {
    .main-container-wrapper {
        margin-bottom: -150px;
    }
    .main-container {
        width: 97%;
    }
}
@media (min-width: 1060px) and (max-width: 1200px) {
    .main-container {
        width: 97%;
    }
}

@media (min-width: 1200px) {
}
