.Navbar {
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-evenly;
    background: #101010;
    color: #fff;
    z-index: 999;
    width: 100%;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    padding: 30px 0;
    border-bottom: 1px solid rgb(250, 250, 250, 0.1);
}
.nav-icon {
    cursor: pointer;
}
.nav-list {
    display: flex;
    list-style: none;
    margin-right: 80px;
}

.nav-link {
    font-family: "Manrope";
    font-size: 13px;
    color: #fff;
    transition: all 0.5s;
    font-weight: 700;
    margin-right: 35px;
}
.nav-link:hover {
    color: var(--color-brown);
}
.Navbar svg {
    color: #fff;
}

/* hero  */

.hero {
    background: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hero-container {
    position: relative;
    display: flex;
    width: 1110px;
}

/* hero main img  */

.hero_main_img__box {
    height: 759px;
}

.hero-main-img {
    position: absolute;
    height: 779px;
    right: 0;
    top: 0px;
}
/* hero text block  */

.hero-text-title {
    position: absolute;
    justify-content: right;
    z-index: 111;
    color: #fff;
    left: 20px;
    top: 33%;
    width: 380px;
    font-family: "Manrope";
    margin-right: 50px;
}

.hero-text-title h1 {
    line-height: 80px;
    font-size: 56px;
    letter-spacing: 2px;
    margin: 24px 0;
}

.hero-text-title p {
    color: #fafafa80;
}
.hero-text-title button {
    border-radius: 0;
    margin-top: 45px;
    color: #fff;
    background: var(--color-brown);
    height: 3rem;
    display: flex;
    width: fit-content;
    text-transform: uppercase;
    font-size: 0.8125rem;
    align-items: center;
    font-weight: 700;
    padding: 0 1.875rem;
}
.hero-text-title button:hover {
    background-color: #e7aa87;
}
.new-product {
    letter-spacing: 10px;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 14px;
}
