/* xs: "480px",
ss: "620px",
sm: "768px",
md: "1060px",
lg: "1200px",
xl: "1700px" */

@media (max-width: 620px) {
    .nav-container {
        width: 90%;
    }
    .nav-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }

    /* hero main img  */

    .hero_main_img__box {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 700px;
    }

    .hero-main-img {
        position: relative;
        height: 600px;
        right: 40px;
    }
    /* hero text block  */

    .hero-text-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
        z-index: 1;
    }

    .hero-text-title h1 {
        line-height: 50px;
        font-size: 38px;
        letter-spacing: 2px;
        width: 380px;
        margin: 15px 0;
    }

    .hero-text-title p {
        width: 340px;
        color: #fafafa80;
    }
    .hero-text-title button {
        border-radius: 0;
        margin-top: 30px;
        color: #fff;
        background: var(--color-brown);
        width: fit-content;
        height: 40px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 0 25px;
    }

    .new-product {
        letter-spacing: 7px;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 13px;
    }
    /* headphones  */

    .Zx9Speaker {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .Zx9Speaker-img {
        background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -150px;
    }
    .Zx9Speaker-img img {
        width: 250px;
        margin-top: 180px;
    }
    .Zx9Speaker_text_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }
    .Zx9Speaker_text_block h1 {
        width: 300px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        line-height: 80px;
        font-size: 40px;
    }
    .Zx9Speaker_text_block p {
        width: 280px;
    }
}

@media (min-width: 620px) and (max-width: 768px) {
    .nav-container {
        width: 90%;
    }
    .nav-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .nav-logo {
        position: absolute;
        left: 100px;
    } /* hero main img  */

    .hero_main_img__box {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 900px;
    }

    .hero-main-img {
        position: relative;
        height: 900px;
        right: 60px;
    }
    /* hero text block  */

    .hero-text-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero-text-title h1 {
        line-height: 70px;
        font-size: 48px;
        letter-spacing: 2px;
        width: 380px;
        margin: 20px 0;
    }

    .hero-text-title p {
        width: 380px;
        color: #fafafa80;
    }
    .hero-text-title button {
        border-radius: 0;
        margin-top: 30px;
        color: #fff;
        background: var(--color-brown);
        width: fit-content;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 0 30px;
    }

    .new-product {
        letter-spacing: 7px;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 14px;
    }
    /* headphones  */

    .Zx9Speaker {
        position: relative;
        width: 90%;
        border-radius: 8px;
        height: 850px;
        background: var(--color-brown);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .Zx9Speaker-img {
        position: absolute;
        background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
        background-size: cover;
        width: 100%;
        top: -180px;
        right: 0;
        z-index: 1;
    }
    .Zx9Speaker-img img {
        position: absolute;
        top: 10px;
        width: 350px;
        height: 450px;
        left: 25%;
        top: 180px;
    }
    .Zx9Speaker_text_block {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        bottom: 50px;
        left: 25%;
    }
    .Zx9Speaker_text_block h1 {
        width: 300px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        line-height: 80px;
        font-size: 60px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .showMenu {
    }
    .nav-container {
        width: 90%;
    }
    .nav-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .nav-logo {
        position: absolute;
        left: 100px;
    }
    /* hero main img  */

    .hero_main_img__box {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 900px;
    }

    .hero-main-img {
        position: relative;
        height: 900px;
        right: 50px;
    }
    /* hero text block  */

    .hero-text-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero-text-title h1 {
        line-height: 70px;
        font-size: 48px;
        letter-spacing: 2px;
        width: 380px;
        margin: 20px 0;
    }

    .hero-text-title p {
        width: 380px;
        color: #fafafa80;
    }
    .hero-text-title button {
        border-radius: 0;
        margin-top: 30px;
        color: #fff;
        background: var(--color-brown);
        width: fit-content;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 0 30px;
    }

    .new-product {
        letter-spacing: 7px;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 14px;
    }
    /* headphones  */

    .Zx9Speaker {
        position: relative;
        width: 90%;
        border-radius: 8px;
        height: 850px;
        background: var(--color-brown);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .Zx9Speaker-img {
        position: relative;
        background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
        background-size: cover;
        height: 100%;
        width: 100%;
        top: -180px;
        z-index: 1;
        justify-content: center;
    }
    .Zx9Speaker-img img {
        position: absolute;
        top: 10px;
        width: 350px;
        top: 180px;
        left: 30%;
    }
    .Zx9Speaker_text_block {
        position: absolute;
        justify-content: center;
        display: flex;
        text-align: center;
        left: 30%;
        align-items: center;
        flex-direction: column;
        bottom: 90px;
    }
    .Zx9Speaker_text_block h1 {
        width: 300px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        line-height: 80px;
        font-size: 60px;
    }
}
@media (min-width: 992px) and (max-width: 1060px) {
    .nav-container {
        width: 90%;
    }
    .nav-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .nav-logo {
        position: absolute;
        left: 100px;
    }
    /* hero main img  */

    .hero_main_img__box {
        height: 729px;
    }

    .hero-main-img {
        position: absolute;
        height: 709px;
        right: 30px;
        width: 650px;
        top: 0px;
    }

    /* hero text block  */

    .hero-text-title {
        position: absolute;
        justify-content: right;
        z-index: 1;
        color: #fff;
        left: 40px;
        top: 33%;
        width: 380px;
        font-family: "Manrope";
        margin-right: 50px;
    }

    .hero-text-title h1 {
        line-height: 70px;
        font-size: 48px;
        letter-spacing: 2px;
        margin: 20px 0;
    }

    .hero-text-title p {
        color: #fafafa80;
    }
    .hero-text-title button {
        border-radius: 0;
        margin-top: 30px;
        color: #fff;
        background: var(--color-brown);
        width: fit-content;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 0 30px;
    }

    .new-product {
        letter-spacing: 7px;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 14px;
    }
    /* headphones  */

    .Zx9Speaker {
        position: relative;
        width: 90%;
        border-radius: 8px;
        height: 550px;
        background: var(--color-brown);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .Zx9Speaker-img {
        position: absolute;
        background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
        background-size: cover;
        height: 100%;
        width: 800px;
        bottom: -35px;
        left: -120px;
    }
    .Zx9Speaker-img img {
        position: absolute;
        width: 350px;
        bottom: 10px;
        left: 170px;
    }
    .Zx9Speaker_text_block {
        position: absolute;
        right: 70px;
        width: 400px;
    }
}
@media (min-width: 1060px) and (max-width: 1200px) {
    .nav-container {
        width: 95%;
    }
    /* headphones  */

    .Zx9Speaker {
        position: relative;
        width: 90%;
        border-radius: 8px;
        height: 550px;
        background: var(--color-brown);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .Zx9Speaker-img {
        position: absolute;
        background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
        background-size: cover;
        height: 115%;
        width: 800px;
        bottom: -35px;
        left: -60px;
    }
    .Zx9Speaker-img img {
        position: absolute;
        width: 380px;
        bottom: 10px;
        left: 120px;
    }
    .Zx9Speaker_text_block {
        position: absolute;
        right: 100px;
        width: 350px;
    }
}

@media (min-width: 1200px) {
    /* headphones  */

    .Zx9Speaker {
        position: relative;
        width: 1110px;
        border-radius: 8px;
        height: 550px;
        background: var(--color-brown);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .Zx9Speaker-img {
        position: absolute;
        background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
        background-size: cover;
        height: 115%;
        width: 800px;
        bottom: -35px;
        left: -60px;
    }
    .Zx9Speaker-img img {
        position: absolute;
        width: 400px;
        bottom: 10px;
        left: 120px;
    }
    .Zx9Speaker_text_block {
        position: absolute;
        right: 100px;
        width: 350px;
    }
}
