/* xs: "480px",
ss: "620px",
sm: "768px",
md: "1060px",
lg: "1200px",
xl: "1700px" */
@media (max-width: 430px) {
    .ShowChecOut {
        margin-left: auto;
        margin-top: -150px;
        width: 100%;
        height: 530px;
        background: #fff;
        border-radius: 8px;
        padding: 20px;
    }
    .hero-text-title {
        position: absolute;
        justify-content: right;
        z-index: 1;
        color: #fff;
        left: 20px;
        top: 33%;
        width: 90%;
        font-family: "Manrope";
        margin-right: 50px;
    }
    .footer {
        margin-top: 0px;
    }
}

@media (max-width: 620px) {
    .Product-card_scrool {
        overflow-x: scroll;
        height: 100vh;
    }
    .nav-container {
        width: 90%;
    }
    .nav-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }

    /* hero main img  */

    .hero_main_img__box {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 700px;
    }

    .hero-main-img {
        position: relative;
        height: 600px;
        right: 40px;
    }
    /* hero text block  */

    .hero-text-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
        z-index: 1;
    }

    .hero-text-title h1 {
        line-height: 50px;
        font-size: 38px;
        letter-spacing: 2px;
        width: 380px;
        margin: 15px 0;
    }

    .hero-text-title p {
        width: 340px;
        color: #fafafa80;
    }
    .hero-text-title button {
        border-radius: 0;
        margin-top: 30px;
        color: #fff;
        background: var(--color-brown);
        width: fit-content;
        height: 40px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 0 25px;
    }

    .new-product {
        letter-spacing: 7px;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 13px;
    }
    /* headphones  */

    .Zx9Speaker {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 600px;
    }
    .Zx9Speaker-img {
        background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -110px;
    }
    .Zx9Speaker-img img {
        width: 220px;
        margin-top: 120px;
    }
    .Zx9Speaker_text_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }
    .Zx9Speaker_text_block h1 {
        width: 300px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        line-height: 80px;
        font-size: 40px;
    }
    .Zx9Speaker_text_block p {
        width: 280px;
    }
    .ZX7Speaker {
        width: 90%;
        background: bottom no-repeat url(./homeImg/featured-product-bg-mobile.jpg);
        padding: 80px 24px;
        padding-left: 30px;
        background-size: cover;
        margin-top: 30px;
        border-radius: 8px;
    }
    .YX1Earphones-container {
        width: 90%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .YX1Earphones-container img {
        width: 100%;
        height: 250px;
    }

    .YX1Earphones-container .YX1EarphonesInf {
        width: 100%;
        background: var(--color-grey);
        border-radius: 8px;
        padding: 25px 50px;
    }
    /* footer  */
    .footer {
        width: 100%;
        background: #101010;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 50px;
    }
    .footer-container {
        width: 90%;
        height: auto;
        color: #fff;
    }
    .footer-section {
        display: flex;
        align-content: center;
        flex-direction: column;
        width: 150px;
        gap: 30px;
        justify-content: space-between;
    }
    .footer-line {
        width: 100px;
        height: 4px;
        background: var(--color-brown);
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .footer-section {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
    }

    .footer-section ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
        font-size: 14px;
        font-weight: 500;
        list-style: none;
    }
    .footer-paragraph {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        font-size: 15px;
        margin-top: 50px;
        color: #fafafa80;
    }
    .footer-icons-container {
        margin-top: 40px;
        font-size: 15px;
        color: #fafafa80;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 30px;
        align-content: center;
        margin-bottom: 20px;
        flex-direction: column;
    }
    .footer-icons {
        display: flex;
        gap: 20px;
        margin: 0px auto;
    }
}

@media (min-width: 620px) and (max-width: 768px) {
    .Product-card_scrool {
        overflow-x: scroll;
        height: 100vh;
    }
    .nav-container {
        width: 90%;
    }
    .nav-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .nav-logo {
        position: absolute;
        left: 100px;
    } /* hero main img  */

    .hero_main_img__box {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 900px;
    }

    .hero-main-img {
        position: relative;
        height: 900px;
        right: 60px;
    }
    /* hero text block  */

    .hero-text-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
    }

    .hero-text-title h1 {
        line-height: 70px;
        font-size: 48px;
        letter-spacing: 2px;
        width: 380px;
        margin: 20px 0;
    }

    .hero-text-title p {
        width: 380px;
        color: #fafafa80;
    }
    .hero-text-title button {
        border-radius: 0;
        margin-top: 30px;
        color: #fff;
        background: var(--color-brown);
        width: fit-content;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 0 30px;
    }

    .new-product {
        letter-spacing: 7px;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 14px;
    }
    /* headphones  */

    .Zx9Speaker {
        position: relative;
        width: 90%;
        border-radius: 8px;
        height: 600px;
        background: var(--color-brown);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: top;
        overflow: hidden;
    }
    .Zx9Speaker-img {
        position: relative;
        background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
        background-size: cover;
        width: 100%;
        z-index: 1;
    }
    .Zx9Speaker-img img {
        position: absolute;
        top: 10px;
        width: 180px;
        height: 220px;
    }
    .Zx9Speaker_text_block {
        position: absolute;
        text-align: center;
        justify-content: center;
        align-items: center;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        right: auto;
    }
    .Zx9Speaker_text_block h1 {
        width: 250px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        line-height: 80px;
        font-size: 45px;
    }
    .ZX7Speaker {
        width: 90%;
        background: bottom no-repeat url(./homeImg/featured-product-bg-mobile.jpg);
        padding: 105px 24px;
        padding-left: 40px;
        background-size: cover;
        margin-top: 30px;
        border-radius: 8px;
    }

    .YX1Earphones-container {
        width: 90%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .YX1Earphones-container img {
        width: 100%;
        height: 350px;
    }

    .YX1Earphones-container .YX1EarphonesInf {
        width: 100%;
        background: var(--color-grey);
        border-radius: 8px;
        padding: 35px 80px;
    }
    /* footer  */
    .footer {
        width: 100%;
        margin-top: 50px;
        background: #101010;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .footer-container {
        width: 90%;
        height: 400px;
        color: #fff;
    }
    .footer-section {
        display: flex;
        align-content: center;
        flex-direction: column;
        width: 150px;
        gap: 30px;
        justify-content: space-between;
    }

    .footer-paragraph {
        margin-top: 50px;
        width: 88%;
        font-size: 17px;
        color: #fafafa80;
    }
    .footer-icons-container {
        margin-top: 70px;
        font-size: 15px;
        color: #fafafa80;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 20px;
    }
    .footer-icons {
        display: flex;
        gap: 20px;
        margin-top: 0px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .nav-container {
        width: 90%;
    }
    .nav-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .nav-logo {
        position: absolute;
        left: 100px;
    }
    /* hero main img  */

    .hero_main_img__box {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 900px;
    }

    .hero-main-img {
        position: relative;
        height: 900px;
        right: 50px;
    }
    /* hero text block  */

    .hero-text-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
    }

    .hero-text-title h1 {
        line-height: 70px;
        font-size: 48px;
        letter-spacing: 2px;
        width: 380px;
        margin: 20px 0;
    }

    .hero-text-title p {
        width: 380px;
        color: #fafafa80;
    }
    .hero-text-title button {
        border-radius: 0;
        margin-top: 30px;
        color: #fff;
        background: var(--color-brown);
        width: fit-content;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 0 30px;
    }

    .new-product {
        letter-spacing: 7px;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 14px;
    }
    /* headphones  */

    .Zx9Speaker {
        position: relative;
        width: 90%;
        border-radius: 8px;
        height: 600px;
        background: var(--color-brown);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow: hidden;
    }
    .Zx9Speaker-img {
        position: absolute;
        background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
        background-size: cover;
        width: 80%;
        z-index: 1;
        margin-top: -120px;
        justify-content: center;
    }
    .Zx9Speaker-img img {
        position: absolute;
        top: 140px;
        width: 200px;
        height: 270px;
    }
    .Zx9Speaker_text_block {
        position: absolute;
        justify-content: center;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        bottom: 30px;
        right: auto;
    }
    .Zx9Speaker_text_block h1 {
        width: 260px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        line-height: 60px;
        font-size: 45px;
    }
    .ZX7Speaker {
        width: 90%;
        background: bottom no-repeat url(./homeImg/featured-product-bg-tablet.jpg);
        padding: 105px 24px;
        padding-left: 100px;
        background-size: cover;
        margin-top: 30px;
        border-radius: 8px;
    }
    .YX1Earphones-container {
        width: 90%;
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }
    .YX1Earphones-container .YX1EarphonesInf {
        background: var(--color-grey);
        border-radius: 8px;
        padding: 60px;
    }
    /* footer  */
    .footer {
        width: 100%;
        margin-top: 50px;
        background: #101010;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .footer-container {
        width: 90%;
        height: 400px;
        color: #fff;
    }
    .footer-section {
        display: flex;
        align-content: center;
        flex-direction: column;
        width: 150px;
        gap: 30px;
        justify-content: space-between;
    }

    .footer-paragraph {
        margin-top: 50px;
        width: 88%;
        font-size: 17px;
        color: #fafafa80;
    }
    .footer-icons-container {
        margin-top: 70px;
        font-size: 15px;
        color: #fafafa80;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 20px;
    }
    .footer-icons {
        display: flex;
        gap: 20px;
        margin-top: 0px;
    }
    .YX1Earphones {
        margin-bottom: 80px;
    }
}
@media (min-width: 992px) and (max-width: 1060px) {
    .nav-container {
        width: 90%;
    }
    .nav-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .nav-logo {
        position: absolute;
        left: 100px;
    }
    /* hero main img  */

    .hero_main_img__box {
        height: 729px;
    }

    .hero-main-img {
        position: absolute;
        height: 709px;
        right: 30px;
        width: 650px;
        top: 0px;
    }

    /* hero text block  */

    .hero-text-title {
        position: absolute;
        justify-content: right;
        z-index: 1;
        color: #fff;
        left: 40px;
        top: 33%;
        width: 380px;
        font-family: "Manrope";
        margin-right: 50px;
    }

    .hero-text-title h1 {
        line-height: 70px;
        font-size: 48px;
        letter-spacing: 2px;
        margin: 20px 0;
    }

    .hero-text-title p {
        color: #fafafa80;
    }
    .hero-text-title button {
        border-radius: 0;
        margin-top: 30px;
        color: #fff;
        background: var(--color-brown);
        width: fit-content;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 0 30px;
    }

    .new-product {
        letter-spacing: 7px;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 14px;
    }
    /* headphones  */

    .Zx9Speaker {
        position: relative;
        width: 90%;
        border-radius: 8px;
        height: 550px;
        background: var(--color-brown);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .Zx9Speaker-img {
        position: absolute;
        background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
        background-size: cover;
        height: 100%;
        width: 800px;
        bottom: -35px;
        left: -120px;
    }
    .Zx9Speaker-img img {
        position: absolute;
        width: 350px;
        bottom: 10px;
        left: 170px;
    }
    .Zx9Speaker_text_block {
        position: absolute;
        right: 70px;
        width: 400px;
    }
    .ZX7Speaker {
        width: 90%;
        background: bottom no-repeat url(./homeImg/featured-product-bg-tablet.jpg);
        padding: 105px 24px;
        padding-left: 100px;
        background-size: cover;
        margin-top: 30px;
        border-radius: 8px;
    }
    .YX1Earphones-container {
        width: 90%;
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }
    .footer-container {
        width: 90%;
        height: 350px;
        color: #fff;
    }
}
@media (min-width: 1060px) and (max-width: 1200px) {
    .nav-container {
        width: 95%;
    }
    .hero-text-title {
        position: absolute;
        justify-content: right;
        z-index: 1;
        color: #fff;
        left: 40px;
        top: 33%;
        width: 380px;
        font-family: "Manrope";
        margin-right: 50px;
    }
    /* headphones  */

    .Zx9Speaker {
        position: relative;
        width: 90%;
        border-radius: 8px;
        height: 550px;
        background: var(--color-brown);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .Zx9Speaker-img {
        position: absolute;
        background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
        background-size: cover;
        height: 115%;
        width: 800px;
        bottom: -20px;
        left: -60px;
    }
    .Zx9Speaker-img img {
        position: absolute;
        width: 380px;
        bottom: 10px;
        left: 120px;
    }
    .Zx9Speaker_text_block {
        position: absolute;
        right: 100px;
        width: 350px;
    }
    .ZX7Speaker {
        width: 90%;
        background: bottom no-repeat url(./homeImg/featured-product-bg-tablet.jpg);
        padding: 105px 24px;
        padding-left: 100px;
        background-size: cover;
        margin-top: 30px;
        border-radius: 8px;
    }
    .YX1Earphones-container {
        width: 90%;
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }
    .footer {
        margin-top: 200px;
    }
    .footer-container {
        width: 90%;
        height: 350px;
        color: #fff;
    }
}

@media (min-width: 1200px) {
    /* headphones  */

    .Zx9Speaker {
        position: relative;
        width: 1110px;
        border-radius: 8px;
        height: 530px;
        background: var(--color-brown);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .Zx9Speaker-img {
        position: absolute;
        background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
        background-size: cover;
        height: 115%;
        width: 800px;
        bottom: -20px;
        left: -60px;
    }
    .Zx9Speaker-img img {
        position: absolute;
        width: 400px;
        bottom: 10px;
        left: 120px;
    }
    .Zx9Speaker_text_block {
        position: absolute;
        right: 100px;
        width: 350px;
    }
    .backdrop-bg .ShowChecOut-container {
        width: 1110px;
    }
    .footer {
        margin-top: 200px;
    }
}
