.topMenu {
    position: fixed;
    width: 100%;
    background: #fff;
    left: 0;
    top: 70px;
    transform: translateY(-120%);
    transition: all ease 0.9s;
}
.showMenu {
    position: fixed;
    width: 100%;
    background: #fff;
    left: 0;
    top: 70px;
    transform: translateY(0%);
    transition: all ease 0.9s;
}
.Rembg {
    position: fixed;
    width: 0%;
    height: 0vh;
}
.backdrop-bg {
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100vh;
    background: #000000be;
    z-index: 999;
    left: 0;
    user-select: none;
}
.Navbar {
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-evenly;
    background: #101010;
    color: #fff;
    z-index: 11;
    width: 100%;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    padding: 30px 0;
    border-bottom: 1px solid rgb(250, 250, 250, 0.1);
}
.nav-icon {
    cursor: pointer;
}
.nav-list {
    display: flex;
    list-style: none;
    margin-right: 80px;
    cursor: pointer;
}
.nav-menu {
    display: none;
}
.list-item {
    font-family: "Manrope";
    font-size: 13px;
    color: #fff;
    transition: all 0.5s;
    font-weight: 700;
    margin-right: 35px;
}

.list-item:hover {
    color: var(--color-brown);
}
.Navbar svg {
    color: #fff;
}

/* hero  */

.hero {
    background: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hero-container {
    position: relative;
    display: flex;
    width: 1110px;
}

/* hero main img  */

.hero_main_img__box {
    height: 759px;
}

.hero-main-img {
    position: absolute;
    height: 779px;
    right: 0;
    top: 0px;
}
/* hero text block  */

.hero-text-title {
    position: absolute;
    justify-content: right;
    z-index: 1;
    color: #fff;
    left: 20px;
    top: 33%;
    width: 380px;
    font-family: "Manrope";
    margin-right: 50px;
}

.hero-text-title h1 {
    line-height: 80px;
    font-size: 56px;
    letter-spacing: 2px;
    margin: 24px 0;
}

.hero-text-title p {
    color: #fafafa80;
}
.hero-text-title button {
    border-radius: 0;
    margin-top: 45px;
    color: #fff;
    background: var(--color-brown);
    height: 3rem;
    display: flex;
    width: fit-content;
    text-transform: uppercase;
    font-size: 0.8125rem;
    align-items: center;
    font-weight: 700;
    padding: 0 1.875rem;
}
.hero-text-title button:hover {
    background-color: #e7aa87;
}
.new-product {
    letter-spacing: 10px;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 14px;
}

/* headphones  */

.Zx9Speaker {
    position: relative;
    width: 90%;
    border-radius: 8px;
    height: 580px;
    background: var(--color-brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.Zx9Speaker-img {
    background: url(./homeImg/featured-product-circles-bg.svg) no-repeat top;
    background-size: cover;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.Zx9Speaker-img img {
    width: 400px;
    bottom: 10px;
}
.Zx9Speaker_text_block {
    right: 150px;
    width: 350px;
    margin-top: 0;
    margin-bottom: 20px;
}
.Zx9Speaker_text_block h1 {
    width: 200px;
    color: #fff;
    font-weight: 500;
    line-height: 80px;
    font-size: 60px;
}
.Zx9Speaker_text_block p {
    color: #fafafa80;
    margin-top: 10px;
    width: 350px;
}
.Zx9Speaker_text_block button {
    border-radius: 0;
    margin-top: 20px;
    background: var(--color-grey-dark);
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
}
.Zx9Speaker_text_block button:hover {
    background: #766969;
}
