@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
    --color-brown: #d87d4a;
    --color-brown-light: #fbaf85;
    --color-black: #000000;
    --color-grey-dark: #101010;
    --color-grey-darker: #4c4c4c;
    --color-grey: #f1f1f1;
    --color-light: #fafafa;
    --color-white: #ffffff;
    --color-red: #cd2c2c;
    --color-primary: #d87d4a;
    --color-bg-body: #fafafa;
    --color-body-text: #000000;
    --color-border: #cfcfcf;
    --color-error: #cd2c2c;
    --container-padding: 24px;
}

/* scrool style  */
::-webkit-scrollbar {
    width: 0;
}

/* fonts  */
@font-face {
    font-family: "Manrope";
    src:
        url("../fonts/Manrope-Bold.woff2") format("woff2"),
        url("../fonts/Manrope-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Manrope";
    src:
        url("../fonts/Manrope-Regular.woff2") format("woff2"),
        url("../fonts/Manrope-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Manrope";
    src:
        url("../fonts/Manrope-Medium.woff2") format("woff2"),
        url("../fonts/Manrope-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* default  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-scroll {
    overflow: hidden;
}
/* Global style  */
.Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.all-items {
    width: 100%;
    background: #fff;
}
