@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-brown: #d87d4a;
  --color-primary: #d87d4a;
  --color-grey-dark: #101010;
  --color-grey-darker: #4c4c4c;
  --color-grey: #f1f1f1;
  --color-brown-light: #fbaf85;
  --color-black: #000000;
}

/* scrool style  */
::-webkit-scrollbar {
  width: 0;
}

/* fonts  */
@font-face {
  font-family: "Manrope";
  src:
    url("../fonts/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src:
    url("../fonts/Manrope-Regular.woff2") format("woff2"),
    url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src:
    url("../fonts/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* default  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}
/* Global style  */
.Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.all-items {
  width: 100%;
  background: #fff;
}

.loader-container {
  position: fixed;
  width: 100%;
  height: 1000px;
  background: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  top: 35%;
  border: 10px solid var(--color-brown);
  border-bottom: 10px solid transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: loader 0.7s ease-in-out infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Manrope";
  background-color: #1a1a1a;
  cursor: pointer;
  transition: 0.3s;
}

button:focus,
button:focus-visible {
  outline: none;
}
