@media (max-width: 430px) {
    .Earphones {
        width: 97%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Category_Product {
        display: flex;
        flex-direction: column;
        width: 97%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .CategoryProduct_text_block {
        padding: 0;
        text-align: center;
        width: 100%;
        align-items: center;
    }
    .CategoryProduct_text_block h3 {
        font-size: 28px;
        width: 100%;
    }

    .CategoryProduct_img {
        width: 95%;
        height: 350px;
    }
    .CategoryProduct_img img {
        width: 320px;
        height: 330px;
    }
    .Category_Product_revorse {
        flex-direction: column-reverse;
        margin-top: -10px;
        width: 95%;
        margin-bottom: 0px;
    }
}
@media (min-width: 430px) and (max-width: 620px) {
    .Earphones {
        width: 97%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Category_Product {
        display: flex;
        flex-direction: column;
        width: 97%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .CategoryProduct_text_block {
        padding: 0;
        text-align: center;
        width: 100%;
        align-items: center;
    }
    .CategoryProduct_text_block h3 {
        font-size: 28px;
        width: 100%;
    }

    .CategoryProduct_img {
        width: 95%;
        height: 400px;
    }
    .CategoryProduct_img img {
        margin-top: 30px;
        width: 120%;
        height: 130%;
    }
    .Category_Product_revorse {
        flex-direction: column-reverse;
        margin-top: 40px;
        margin-bottom: 0px;
    }
}
@media (min-width: 620px) and (max-width: 768px) {
    .Earphones {
        width: 97%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Category_Product {
        display: flex;
        flex-direction: column;
        width: 97%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .CategoryProduct_text_block {
        padding: 0;
        text-align: center;
        width: 100%;
        align-items: center;
    }
    .CategoryProduct_text_block h3 {
        font-size: 28px;
        width: 100%;
    }

    .CategoryProduct_img {
        width: 95%;
        height: 300px;
    }
    .CategoryProduct_img img {
        margin-top: 30px;
        width: 50%;
        height: 100%;
    }
    .Category_Product_revorse {
        flex-direction: column-reverse;
        margin-top: 40px;
        margin-bottom: 0px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .Earphones {
        width: 97%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Category_Product {
        display: flex;
        flex-direction: column;
        width: 97%;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .CategoryProduct_text_block {
        padding: 0;
        text-align: center;
        width: 100%;
        align-items: center;
    }
    .CategoryProduct_text_block h3 {
        font-size: 28px;
        width: 100%;
    }

    .CategoryProduct_img {
        width: 95%;
        height: 400px;
    }
    .CategoryProduct_img img {
        margin-top: 30px;
        width: 54%;
        height: 100%;
    }
    .Category_Product_revorse {
        flex-direction: column-reverse;
        margin-top: 100px;
        margin-bottom: 0px;
    }
}
@media (min-width: 992px) and (max-width: 1060px) {
    .Earphones {
        width: 94%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .CategoryProduct_img {
        width: 50%;
        height: 555px;
        background: var(--color-grey);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        overflow: hidden;
    }
    .Category_Product {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
        margin-bottom: -30px;
    }
    .false_b {
        margin-top: 120px;
    }
    .Category_Product_revorse {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 0px;
    }
}
@media (min-width: 1060px) and (max-width: 1200px) {
    .Earphones {
        width: 97%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}
@media (min-width: 1200px) {
}
